.b-me {
  background: #efefef url(../images/b_main.jpg) bottom right no-repeat;
  background-size: 50%;  

  &__sign {
    color: white;
    font-weight: 700;
    position: absolute;
    right: 70px;
    bottom: 45px;

    @media (max-width: 768px) {
      right: 20px;
      bottom: 20px;
    }
  }
}

.b-odd {
  background-color: #efefef;
}
